<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="defaultInit" default-destroy-method="defaultDestroy">

    <bean id="student" class="by.sep.Student" factory-method="getInstance">
        <property name="firstName" value="Peter"/>
        <property name="lastName" value="Parker"/>
        <property name="marks">
            <map>
                <entry key="Math" value="A"/>
                <entry key="Physics" value="A"/>
                <entry key="Biology" value="B"/>
            </map>
        </property>
        <property name="studentInfo" ref="studentInfo"/>
    </bean>

    <bean id="studentInfo" class="by.sep.StudentInfo">
        <property name="studentCardNumber" value="S00123"/>
        <property name="recordBookNumber" value="R00435"/>
        <property name="libraryCardNumber" value="L00342"/>
    </bean>
</beans>
